@font-face {
  font-family: "Jomhurya";
  src: url("../../../assets/Macathon-form/fonts/Jomhuria-Regular.ttf")
    format("truetype");
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Jomhurya";
}

body {
  background-image: url("../../../assets/Macathon-form/bg2.png");
  background-color: #751231;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

form {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainForm {
  background-image: url("../../../assets/Macathon-form/formStructure.png");
  background-size: 100% 95%;
  background-repeat: no-repeat;
  /* height: 100%; */
  padding: 90px 20px;
  /* position: relative; */
  /* overflow: hidden; */
  /* margin: 20px auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 30%;
  height: 40vh!important;
  /* margin-top: 10px; */
  /* position: absolute; */
  /* left: 33%; */
  /* top: 0; */
}

.formQuestions {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-top: 10% ; */
  /* gap: 10%; */
  align-items: center;
  width: 70%;
  height: 100%;
}

.firstQuestionSpace {
  margin-top: 120px;
}

.movingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 77%;
  margin: 0px auto;
  margin-bottom: 40px;
}
.QuesContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  margin-top: -30px;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* padding-top: 100px; */
  /* min-width: 400px; */
}
.navText {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 10%; */
  /* padding: 20px; */
  /* margin-left: 20px; */
}

.navLine {
  color: #fbf6dd;
  font-size: 2vw;
  text-align: left;
  width: 100%;
}
.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  height: 200px;
}

.navImage {
  background-image: url("../../../assets/Macathon-form/stp_logo.png");
  /* padding-right: 20px; */
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top right;
}
.transparent {
  color: transparent;
}

.success { 
  background-color: bisque;
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  color: #751231;
  border-radius: 10px;
  border: 3px solid black;
}

.loader-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1700px) {
  .mainForm {
    width: 550px;
    font-size: 20px;
    height: 720px;
  }
  .navLine {
    font-size: 43px;
    width: 160px;
  }
  .navImage {
    width: 130px;
  }
}

@media screen and (max-width: 1700px) {
  .mainForm {
    width: 580px;
    font-size: 18px;
    height: 720px;
  }
}

@media screen and (max-width: 1600px) {
  .mainForm {
    width: 570px;
    font-size: 18px;
    height: 710px;
    left: 30%;
  }
}

@media screen and (max-width: 1500px) {
  .mainForm {
    width: 560px;
    font-size: 18px;
    height: 700px;
  }
}

@media screen and (max-width: 1400px) {
  .mainForm {
    width: 450px;
    font-size: 16px;
    height: 640px;
    left: 33%;
  }
}

@media screen and (max-width: 1300px) {
  .mainForm {
    width: 440px;
    height: 630px;
    left: 29%;
  }
  .nav {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .mainForm {
    width: 430px;
    height: 620px;
  }
}

@media screen and (max-width: 1120px) {
  .mainForm {
    width: 420px;
    height: 610px;
    left: 28%;
  }
}

@media screen and (max-width: 1070px) {
  .mainForm {
    width: 410px;
    height: 600px;
    left: 27.5%;
  }
}

@media screen and (max-width: 980px) {
  .mainForm {
    width: 400px;
    height: 580px;
    left: 25%;
    /* margin-top: 130px; */
  }
}

@media screen and (max-width: 870px) {
  .mainForm {
    width: 400px;
    font-size: 16px;
    height: 570px;
    left: 22%;
  }
  .navImage {
    height: 200px;
  }
  .movingButtons {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
  .mainForm {
    /* transform: scale(0.8); */
    /* width: 80%; */
    margin-top: 100px;
    /* height: 90vh; */
    /* width: 400px; */
    /* height: 570px; */
    /* left: 20%; */
  }
  .movingButton{
    transform: scale(0.8);
  }
  .QuesContainer{
    /* transform: scale(0.8); */
    width: 100%;
  }

  .movingButtons {
    margin-bottom: 0px;
  }
  .nav{
    top: -30px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 760px) {
  .mainForm {
    width: 350px;
    left: 20%;
  }
}

@media screen and (max-width: 700px) {
  .mainForm {
    width: 400px;
    left: 15%;
    /* margin-top: 150px; */
  }
}

@media screen and (max-width: 650px) {
  .mainForm {
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .mainForm {
    height: 590px;
    left: 7%;
  }
}

@media screen and (max-width: 560px) {
  .mainForm {
    width: 350px;
    left: 9%;
  }
}

@media screen and (max-width: 530px) {
  .mainForm {
    width: 350px;
    left: 7%;
  }
}

@media screen and (max-width: 500px) {
  .mainForm {
    width: 350px;
    left: 5%;
  }
}
