#recruitment-landing-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#header-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header {
    width: 100%;
    height: 100%;
}

#contain {
    display: flex;
}
#grey-background {
    width: 100%;
    height: 100vh;
    border: 4px solid purple;
    object-fit: cover;
}
#foreground {
    /* background-image: url(./src/assets/recruitment-page/landing/web-member-recrut-08.png); */
    background-image: url(../../../assets/recruitment-page/landing/web-member-recrut-08.png);
    background-size: cover;
    /* position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}





